$violet: hsl(257, 40%, 49%);
$soft-magenta: hsl(300, 69%, 71%);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: $violet;
  background-image: url(../images/bg-mobile.svg);
  // background-position: center;
  background-repeat: no-repeat;
  // background-size: cover;
  background-size: contain;
  @media (min-width: 634px) {
    background-image: url(../images/bg-desktop.svg);
    background-size: cover;
  }
  @media (min-width: 1124px) {
    background-size: contain;
  }
}

// main {
//   display: flex;
//   flex-direction: column;
//   align-content: center;
// }

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  margin: 35px;
  // justify-items: center;

  @media (min-width: 634px) {
    grid-template-columns: 1.5fr 1fr;
    margin: 50px 100px;
    // margin: 50px auto;
    // max-width: 700px;
    // margin: 25px 50px;
  }

  /* section one */
  .logo {
    max-width: 42%;
    height: auto;
    @media (min-width: 634px) {
      max-width: 24%;
      height: auto;
    }
  }

  .image {
    padding-top: 50px;
    max-width: 100%;
    height: auto;
    @media (min-width: 634px) {
      padding-top: 75px;
      min-width: 300px;
      max-width: 80%;
      display: inline-block;
    }
  }

  /* section two */
  .section2 {
    margin-top: 20%;
    margin-left: 20px;
    text-align: center;
    @media (min-width: 634px) {
      text-align: left;
    }
    @media (min-width: 1000px) {
      margin-left: -80px;
    }

    h1 {
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      font-size: 24px;
      color: white;
      line-height: 1.6;
      padding-bottom: 20px;
      @media (min-width: 634px) {
        padding-top: 75px;
        // font-size: 40px;
      }
    }

    p {
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      font-size: 16px;
      color: white;
      line-height: 1.6;
      padding-bottom: 20px;
      @media (min-width: 634px) {
        // font-size: 18px;
      }
    }

    button {
      color: $violet;
      padding: 10px 60px;
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      font-size: 16px;
      border: none;
      border-radius: 50px;
      &:hover {
        background-color: $soft-magenta;
        cursor: pointer;
        transition: 0.5s ease;
      }
      // @media (min-width: 600px) {
      //   padding: 10px 40px;
      //   font-size: 18px;
      // }
    }

    .icons {
      display: flex;
      justify-content: center;
      margin-top: 20%;
      @media (min-width: 600px) {
        justify-content: right;
        margin-top: 30%;
      }
      img {
        width: 30px;
        height: 30px;
        border: 1.5px solid white;
        border-radius: 50%;
        // 50px 12 10 // 6 5 //
        padding: 6px 5px;
        margin-right: 10px;
      }
      .fbIcon {
        img {
          border: 1.5px solid white;
          padding: 6px 5px;
          @media (min-width: 634px) {
            padding: 6px 5px;
          }
        }
      }
      .insticon {
        margin-right: 0px;
      }

      img {
        &:hover {
          background-color: $soft-magenta;
          border-color: $soft-magenta;
          cursor: pointer;
          transition: 0.5s ease;
        }
      }
    }
  }
}

.attribution {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 9px;
  color: white;
  padding-bottom: 20px;
  @media (min-width: 634px) {
    font-size: 12px;
  }
  p {
    a {
      color: white;
      text-decoration: none;
      font-weight: 400;
      &:hover {
        color: $soft-magenta;
        cursor: pointer;
        transition: 0.5s ease;
      }
    }
  }
}
